h1{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    
}
p{
    color: white;
    text-align: center;
    margin-bottom: 120px;
}
#count{
    display:block;
    text-align :center;
    font-size: 100px;
    color: white;margin-top: -50px;
}
#reset{
    text-align: center;
}
.button{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5px;
}
#button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#cont{
    margin: 65px 200px 65px 200px;
    background-color: rgba(19, 18, 18, 0.391);
    padding: 65px 50px 100px 50px;

}
body{
    background-color: black;
}